.container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 5rem;
    row-gap: 2rem;
    margin: auto 5rem;

    .timer{
        background-color: $white;
        text-align: center;
        border: 6px solid rgba($color: $black, $alpha: 0.3);
        border-radius: 0.4rem;


        &__time{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $dark-green;
            font-size: 10rem;
        }
    }

    .work{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        border: 4px solid rgba($color: $dark-red, $alpha: 0.2);

        &__description{
            font-size: 2rem;
            color: rgba($color: $dark-green, $alpha: 0.5);
        }
    }

    .activity{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;

        &__add{
            margin-bottom: 0.7rem;
            color: $dark-green;

            &:hover{
                cursor: pointer;
                color: $green;
            }
        }

        &__curiosity{
            font-size: 12px;
            color: rgba($color: #000000, $alpha: 0.7);
            font-style: italic;
        }
    }
}

.hidden{
    opacity: 0;
    visibility: hidden;
}