@media (max-width: 557px){
    .modal{
        max-width: 30rem;
    }
}

@media (max-width: 425px) {
    // 710

    html{
        font-size: 60%;
    }

    .modal-overlay{

        .modal{
            max-width: 30rem;

            &__content{

                &.form{

                    &__content{
                        width: 28rem;
                    }
                }
            }
        }
    }   
}

@media (max-width: 413px){
    html{
        font-size: 62.5%;
    }
    // margin: 15px;
}

@media (max-width: 381px){


}


