$white: white;
$white-ice: #f8f9fa;
$red: red;
$dark-red: #ac0d0d;
$darker-red: #800e13;
$soft-green: #e9f5dbab;
$softer-green: #b5c99a;
$green: #38b000;
$dark-green: #004b23;
$light-blue: #00b4d8;
$dark-blue: #0077b6;
$black: black;


