.toast{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   margin: auto;

   max-width: 400px;
   padding: 6px;
   background: $light-blue;
   color: $white;
   font-family: sans-serif;
   text-align: center;
   border: 1px solid $dark-blue;
   border-radius: 5px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

   visibility: hidden;
   opacity: 0;
   transition: opacity 0.2s, top 0.2s, visibility 0.2s;

   &--visible{
       top: 20px;
       opacity: 1;
       visibility: visible;
   }

   &--break{
    background: $dark-blue;
    border-color: $light-blue;
    color: $white;
   }

   &--complete_cicle{
    background: $dark-green;
    border-color: $green;
    color: $white;
   }

   &--error{
    background: $dark-red;
    border-color: $red;
    color: $white;
   }
}