body {
  height: 100vh;
  width: 100vw;
  background-color: #e9f5dbab;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

header {
  width: 100%;
  max-width: 1440px;
  background-color: #800e13;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.4rem;
}
header .title {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  color: #b5c99a;
  margin-bottom: 0.3rem;
}
header .subtitle {
  font-family: "Lobster", cursive;
  color: #b5c99a;
}

.container {
  width: 90%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23.75rem, 2fr));
  column-gap: 5rem;
  row-gap: 2rem;
  margin: 2rem 3rem;
}
.container .timer {
  background-color: white;
  text-align: center;
  border: 6px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
}
.container .timer__time {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004b23;
  font-size: 8rem;
}
.container .work {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 4px solid rgba(172, 13, 13, 0.2);
}
.container .work__description {
  font-size: 2rem;
  color: rgba(0, 75, 35, 0.5);
}
.container .activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.container .activity__add {
  margin-bottom: 0.7rem;
  color: #004b23;
}
.container .activity__add:hover {
  cursor: pointer;
  color: #38b000;
}
.container .activity__counter {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  color: #004b23;
}
.container .activity__curiosity {
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
}
.button__design {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.button__design.start {
  background-color: #004b23;
  color: white;
  margin-right: 3rem;
}
.button__design.start:hover {
  cursor: pointer;
  background-color: #38b000;
  transition: 150ms;
  box-shadow: 0 0 0.3rem black;
}
.button__design.cancel {
  background-color: #ac0d0d;
  color: white;
}
.button__design.cancel:hover {
  cursor: pointer;
  background-color: red;
  transition: 150ms;
  box-shadow: 0 0 0.3rem black;
}
.button__design.interval {
  background-color: #0077b6;
  color: white;
  margin-right: 3rem;
}
.button__design.interval:hover {
  cursor: pointer;
  background-color: #00b4d8;
  transition: 150ms;
  box-shadow: 0 0 0.3rem black;
}
.button__design.add {
  background-color: #0077b6;
  color: white;
  margin-right: 1rem;
}
.button__design.add:hover {
  cursor: pointer;
  background-color: #00b4d8;
  transition: 150ms;
  box-shadow: 0 0 0.3rem black;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal-overlay .modal {
  background: #f8f9fa;
  padding: 2.4rem;
  position: relative;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
}
.modal-overlay .modal__content.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.modal-overlay .modal__content .form__content {
  padding: 0.5rem;
  border: 2px solid #0077b6;
  border-radius: 5px;
}

.toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  padding: 6px;
  background: #00b4d8;
  color: white;
  font-family: sans-serif;
  text-align: center;
  border: 1px solid #0077b6;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}
.toast--visible {
  top: 20px;
  opacity: 1;
  visibility: visible;
}
.toast--break {
  background: #0077b6;
  border-color: #00b4d8;
  color: white;
}
.toast--complete_cicle {
  background: #004b23;
  border-color: #38b000;
  color: white;
}
.toast--error {
  background: #ac0d0d;
  border-color: red;
  color: white;
}

footer {
  width: 90%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-title {
  font-family: "Lobster", cursive;
  font-size: 1.3rem;
  color: black;
  text-align: center;
  padding: 4rem 0 2rem;
  opacity: 0.3;
  position: relative;
  z-index: -1;
}

@media (max-width: 557px) {
  .modal {
    max-width: 30rem;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 60%;
  }

  .modal-overlay .modal {
    max-width: 30rem;
  }
  .modal-overlay .modal__content.form__content {
    width: 28rem;
  }
}
@media (max-width: 413px) {
  html {
    font-size: 62.5%;
  }
}

/*# sourceMappingURL=Styles.css.map */
